nav{
                display: flex;
                justify-content: center;
                gap: 20px;
                font-size: larger;
                font-weight: bold;
                background-color: rgba(210, 38, 173, 0.866);
                padding: 15px 30px ;
                
            }
            nav a{
                text-decoration: none;
            }

            body{
                background-color: antiquewhite;
            }
            h1{
                color: blueviolet;
            }
           
img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.con{
    display: flex;
    align-items: center;

}

       footer{
                background-color: rgba(210, 38, 173, 0.866);
                padding: 15px 30px;
                text-align: center;
                margin-top: 350px;
            }
        selection{
        width: 50px;
        width: 50px;
            }
            .container{
               display: flex;
               justify-content: space-between;
               align-items: center;
            }
            img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }
            section{
                display: flex;
               justify-content: space-between;
               align-items: center;
            }
            h4,h5,h6{
              font: size 30px;
            }
            h6{
                font-size: 30px;
            }
            
            
            